.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(90deg, rgba(240,240,240,1) 0%, rgba(84,223,112,1) 0%, rgba(47,218,176,1) 52%, rgba(120,232,255,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-left: 30px;
  padding-right: 30px;
}

.App-link { 
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
