.form-title {
    color:rgba(84,223,112,1);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    padding-bottom: 30px;
    display: flex;
}

.form-card {
    background-color: #ffffff;
    border-radius: 20px;
    border-color: #252629;
}

.form-input {
    background-color: #ffffff;
    border-color: #d9d9d9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-input:hover {
    background-color: #ffffff;
    border-color: #d9d9d9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ant-input::placeholder {
    color: rgba(0, 0, 0, 0.25);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-select {
    background-color: #ffffff;
    border-color: #d9d9d9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-select:hover {
    background-color: #ffffff;
    border-color: #d9d9d9;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-select::placeholder {
    display: flex;
    color: rgba(0, 0, 0, 0.25);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ant-select .ant-select-selection-placeholder {
    flex: none;
}

.ant-select .ant-select-selection-item {
    flex: none;
}

.form-submit {
    background-color: rgba(84,223,112,1);
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
}

.form-submit:hover {
    background-color: rgba(84,223,112,1);
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
}